# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Environment Variables & Credentials
.env
*.csv
.freebuff/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
.DS_Store

.vercel
